<button mat-icon-button mat-dialog-close class="close-button" >
    <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>  

<h3 mat-dialog-tile>Thêm tin tức mới</h3>
<mat-dialog-content >

     <mat-form-field appearance="outline" [style.width.%]="100">
        <mat-label>Tên Tin</mat-label>
        <input name="post_name" matInput [(ngModel)]="data.name" required cdkFocusInitial>
    </mat-form-field>

     <mat-form-field appearance="outline" [style.width.%]="100">
        <mat-label>Nội dung</mat-label>
        <textarea matInput name="content" [(ngModel)]="data.content" required></textarea>
    </mat-form-field>   

    <mat-form-field appearance="outline" [style.width.%]="50">
        <mat-label>Dự án liên quan</mat-label>
        <input disabled matInput name="content" [(ngModel)]="data.projectName">
    </mat-form-field> 
 
    <mat-checkbox name="publicPost" [(ngModel)]="data.isPublic">Công bố Tin</mat-checkbox>

      

    <label>Tải hình ảnh cho Tin (chỉ hỗ trợ định dạng .jpg , .jpeg và .png)</label>
    <input hidden type="file" #imageInput onclick="this.value=null" (change)="uploadImages($event.target.files)" multiple="true" accept=".jpg,.jpeg,.png">
    <button class="btn btn-primary btn-sm" (click)="imageInput.click()">
        <i class="icon-cloud-upload"></i>
        <a>Tải lên hình ảnh</a>
    </button>
    <mat-grid-list cols="3">
        <mat-grid-tile *ngFor="let imageUrl of imageUrls;let i=index">
            <div class="container">
                <img *ngIf="imageUrl" [src]="imageUrl" alt=""/>
                <button *ngIf="imageUrl" type="button" class="button btn btn-danger btn-sm" (click)="deleteAttachment(i)">
                    <i class="fa fa-remove"></i>
                </button>            
            </div>
        </mat-grid-tile>
    </mat-grid-list>

    <div *ngIf="!videoUrl && !isUploadingVideo" class="video-container" (click)="fileInput.click()" videoDragDrop (files)="uploadVideo($event)">
        <input hidden type="file" #fileInput (change)="uploadVideo($event.target.files)" multiple="false" accept=".mp4">
    </div>
    <div *ngIf="isUploadingVideo" class="video-container-loading"></div>
    <div *ngIf="videoUrl" class="video-container-loading">
        <video *ngIf="videoUrl" [src]="videoUrl" controls>
            <source src="videoUrl" type="video/mp4">
        </video>
        <button *ngIf="videoUrl" type="button" class="delete-video-button btn btn-danger btn-sm" (click)="deleteVideo()">
            <i class="fa fa-remove"></i>
        </button>
    </div>

</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button class="btn btn-success" (click)="save()">Lưu</button>
</mat-dialog-actions>