<button mat-icon-button mat-dialog-close class="close-button" >
    <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>  
<button mat-icon-button class="back-button" (click)="back()">
    <mat-icon>keyboard_backspace</mat-icon>
</button>  
<h1 mat-dialog-title>Xử lý hoàn cảnh</h1>
<h5 mat-dialog-title>Bước 2: Thêm thông tin dự  án</h5>
<mat-dialog-content>
    <mat-form-field appearance="outline" [style.width.%]="100">
        <mat-label>Tên Dự án</mat-label>
        <input name="project_name" matInput [(ngModel)]="data.projectName" required cdkFocusInitial> 
    </mat-form-field>

    <mat-form-field appearance="outline" [style.width.%]="100">
        <mat-label>Mô tả vắn tắt</mat-label>
        <input name="brief_description" matInput [(ngModel)]="data.briefDescription" required>
    </mat-form-field>

    <mat-form-field appearance="outline" [style.width.%]="100">
        <mat-label>Nội dung</mat-label>
        <textarea matInput name="description" [(ngModel)]="data.description" required></textarea>
    </mat-form-field> 

    <mat-form-field appearance="outline" [style.width.%]="32">
        <mat-label>Mục tiêu quyên góp</mat-label>
        <input name="target_money" matInput [(ngModel)]="data.targetMoney" required>
    </mat-form-field>

    <mat-form-field appearance="outline" [style.width.%]="32">
        <mat-label>Ngày bắt đầu</mat-label>
        <input matInput [matDatepicker]="pickerStartDate" name="startDate" [(ngModel)]="data.startDate" required>
        <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
        <mat-datepicker #pickerStartDate></mat-datepicker>
    </mat-form-field>   
   
    <mat-form-field appearance="outline" [style.width.%]="32">
        <mat-label>Ngày kết thúc</mat-label>
        <input matInput [matDatepicker]="pickerEndDate" name="endDate" [(ngModel)]="data.endDate" required>
        <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
        <mat-datepicker #pickerEndDate></mat-datepicker>
    </mat-form-field>


    <mat-checkbox name="canDisburseWhenOverdue" (click)="changeState()" [(ngModel)]="data.canDisburseWhenOverdue">Cho phép giải ngân khi hết hạn</mat-checkbox>
   
    <mat-form-field [style.width.%]="33">
        <mat-label>Gói từ thiện</mat-label>
        <mat-select class="form-control" [(ngModel)]="data.prt_ID" id="project_type_id" name="project_type_id" required>
            <mat-option *ngFor="let type of filterProjectType()" [value]="type.prt_ID">
                <a>{{type.projectTypeName}}</a>
            </mat-option>
        </mat-select>
    </mat-form-field> 
    
    <mat-form-field [style.width.%]="33">
        <mat-label>Tỉnh thành</mat-label>
        <mat-select class="form-control" [(ngModel)]="data.cti_ID" id="city_id" name="city_id" required>
            <mat-option *ngFor="let city of Cities" [value]="city.cti_ID">
                <a>{{city.name}}</a>
            </mat-option>
        </mat-select>
    </mat-form-field>  
 
    <mat-grid-list cols="3">
        <mat-grid-tile *ngFor="let number of [0,1,2,3,4,5];let i=index">
            <div *ngIf="!imageUrls[number] && !isUpLoadingImage" class="image-container" (click)="imageInput.click()" imageDragDrop (files)="uploadImages($event,number)">
                <input hidden type="file" #imageInput (change)="uploadImages($event.target.files,number)" multiple="false" accept=".jpg,.jpeg,.png">
            </div>
            <div *ngIf="!imageUrls[number] && isUpLoadingImage && number==upLoadingIndex" class="image-container-loading"></div>
            <div *ngIf="!imageUrls[number] && isUpLoadingImage && number!=upLoadingIndex" class="image-container"></div>
            <div *ngIf="imageUrls[number]" class="image-container">
                <img *ngIf="imageUrls[number]" [src]="imageUrls[number]" alt=""/>
                <button *ngIf="imageUrls[number]" type="button" class="button btn btn-danger btn-sm" (click)="deleteAttachment(i)">
                    <i class="fa fa-remove"></i>
                </button>
            </div>
        </mat-grid-tile>
    </mat-grid-list>

    <div *ngIf="!videoUrl && !isUploadingVideo" class="video-container" (click)="fileInput.click()" videoDragDrop (files)="uploadVideo($event)">
        <input hidden type="file" #fileInput (change)="uploadVideo($event.target.files)" multiple="false" accept=".mp4">
    </div>
    <div *ngIf="isUploadingVideo" class="video-container-loading"></div>
    <div *ngIf="videoUrl" class="video-container-loading">
        <video *ngIf="videoUrl" [src]="videoUrl" controls>
            <source src="videoUrl" type="video/mp4">
        </video>
        <button *ngIf="videoUrl" type="button" class="delete-video-button btn btn-danger btn-sm" (click)="deleteVideo()">
            <i class="fa fa-remove"></i>
        </button>
    </div>

</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button class="btn btn-danger"(click)="unHandle()">Hủy</button>
    <button mat-button class="btn btn-primary" (click)="saveDraft()">Lưu nháp</button>
    <button mat-button class="btn btn-success" (click)="finish()">Hoàn tất</button>
</mat-dialog-actions>