<div class="col-lg">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col">
          <h3 class="card-title">
            <small class="text-muted"> danh sách </small> Dự án đã đóng
          </h3>
        </div>
        <div class="col-auto">
          <button type="button" class="btn btn-success" >
            <i class="icon-cloud-download"></i>
            <a style="color:white;" href="https://firebasestorage.googleapis.com/v0/b/chari-c3f85.appspot.com/o/SaoKeMau.xlsx?alt=media&token=adc45da4-c97b-4ee2-9499-8770b78c26d5" download>Tải xuống sao kê mẫu</a>
          </button>

          <input #excelInput hidden="true" type="file" onclick="this.value=null" (change)="onFileChange($event)" multiple="false" accept=".xls,.xlsx"/>
          <button class="btn btn-primary" (click)="excelInput.click()">
            <i class="icon-cloud-upload"></i>
            <a>Cập nhật sao kê</a>
          </button>

          <button type="button" class="btn btn-secondary" (click)="updateMoveMoneyProgress()">
            <i class="icon-reload"></i>
            <a>Cập nhật tiến độ</a>
          </button>
        </div>
      </div>
    </div>

    <div class="card-body">
      <table class="table table-light">
        <thead>
          <tr>
            <th>#</th>
            <th>Tên Dự án</th>
            <th>Cho phép giải ngân</th>
            <th>Tiến độ xử lý tiền thừa (%)</th>
            <th>Tình trạng giải ngân</th>
          </tr>
        </thead>
        <tbody *ngFor="let data of Projects;let i=index;">
          <td>{{i+1}}</td>
          <td>{{data.projectName}}</td>
          <td *ngIf="data.projectType.canDisburseWhenOverdue==true">Có</td>
          <td *ngIf="data.projectType.canDisburseWhenOverdue!=true">Không</td>
          <td *ngIf="data.projectType.canDisburseWhenOverdue==true">N/A</td>
          <td *ngIf="data.projectType.canDisburseWhenOverdue!=true">{{data.moveMoneyProgress}}</td>
          <td *ngIf="data.projectType.canDisburseWhenOverdue==true && data.disbursed==true">Đã giải ngân</td>
          <td *ngIf="data.projectType.canDisburseWhenOverdue==true && data.disbursed!=true">Chưa giải ngân</td>
          <td *ngIf="data.projectType.canDisburseWhenOverdue!=true && data.disbursed!=true">N/A</td>
          <td *ngIf="data.projectType.canDisburseWhenOverdue==true && data.disbursed!=true">
            <button type="button" class="btn btn-block btn-outline-primary" (click)="openDisburseDialog(data)">Giải ngân</button>
          </td>   
        </tbody>
        <tbody>
      </table>
      <div class="row">
        <div class="col-xs-12 col-12 col-md-6">
          <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" [maxSize]="maxSize" class="pagination-sm"
                      previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"(pageChanged)="pageChanged($event)"
                      [boundaryLinks]="true" [rotate]="false" [itemsPerPage]="itemsPerPage"></pagination>
        </div>
      </div>
    </div>
  </div>
</div>

