.uploadfilecontainer {
  background-image: url("../../../../assets/img/upload.png");
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
  height: 100px;
  width: 80%;
  margin: 20px auto;
  border: 2px dashed #1C8ADB;
  border-radius: 6px;
}

.uploadfilecontainer:hover {
  cursor: pointer;
  background-color: #9ecbec !important;
  opacity: 0.8;
}


/* .container {
  position: relative;
  width: 100%;
}


.container img {
  width: 100%;
  height: auto;
}

.container .btn {
  position: absolute;
  top: 5%;
  right: 0%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 15px;
  border: none;
  cursor: pointer;
  border-radius: 13px;
}

.container .btn:hover {
  background-color: red;
} */

.container {
  position: relative;
  margin: 10px;
  width: 300px;
  height: 180px;
}

img {
  position: absolute;
  width: 300px;
  height: 180px;
  left: 0;
}
.button {
  position: absolute;
  width: 300px;
  left:0;
  top: 80px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

.button a {
  width: 100px;
  padding: 12px 48px;
  text-align: center;
  color: white;
  border: solid 2px white;
  z-index: 1;
}

.container:hover .button {
  opacity: 1;
}

