<div class="col-lg">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col">
            <h3 class="card-title">
              <small class="text-muted"> danh sách </small> Gói từ thiện 
            </h3>
          </div>
          <div class="col-auto">
            <button type="button" class="btn btn-info" (click)="clearData(); openDialog()" >
              <i class="fa fa-plus"></i>
              <a>Thêm</a>
            </button>
            <!-- <button type="button" class="btn btn-info mr-1" data-toggle="modal" (click)="myModal.show()">
              <i class="fa fa-plus"></i>
              <a>Thêm</a>
            </button> -->
          </div>
        </div>
      </div>

      <div class="card-body">
        <table class="table table-light">
          <thead>
            <tr>
              <th>#</th>
              <th>Logo</th>
              <th>Tên gói</th>
              <th>Mô tả</th>
              <th>Loại chương trình</th>
              <th>Tác vụ</th>
            </tr>
          </thead>
          <tbody *ngFor="let data of projectTypes;let i=index;">
            <td>{{i+1}}</td>
            <td>  
              <img [src]="data.imageUrl" style="border-radius: 25px" width="50px" height="50px">           
            </td>
            <td>{{data.projectTypeName}}</td>
            <td>{{data.description}}</td>
            <td *ngIf="data.canDisburseWhenOverdue==true">Có thể giải ngân khi quá hạn</td>
            <td *ngIf="data.canDisburseWhenOverdue!=true">Không thể giải ngân khi quá hạn</td>
            <td>
                <button type="button" class="btn btn-info btn-sm" (click)="openEditDialog(data)">
                  <i class="fa fa-edit"></i>
                </button>
                <button type="button" class="btn btn-danger btn-sm" (click)="deleteProjectType(data.prt_ID)">
                  <i class="fa fa-remove"></i>
                </button>
            </td>
          </tbody>
          <tbody>
        </table>
      </div>
    </div>
</div>
