<div class="col-lg">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col">
            <h3 class="card-title">
               Gói từ thiện 
            </h3>
          </div>
          <div class="col-auto">
            <button type="button" class="btn btn-info" (click)="clearData(); openDialog()" tooltip="Thêm gói từ thiện">
              <i class="fa fa-plus"></i>
              <a>Thêm</a>
            </button>
          </div>
        </div>
      </div>

      <div class="card-body">
        <table class="table table-light">
          <thead>
            <tr>
              <th>#</th>
              <th>Logo</th>
              <th>Tên Gói</th>
              <th>Mô tả</th>
              <th>Loại Gói</th>
              <th style="text-align: right">Tác vụ</th>
            </tr>
          </thead>
          <tbody *ngFor="let data of projectTypes;let i=index;">
            <td>{{i+1}}</td>
            <td>  
              <img [src]="data.imageUrl" style="border-radius: 25px" width="50px" height="50px">           
            </td>
            <td style="width: 15%;">{{data.projectTypeName}}</td>
            <td style="width: 30%;">{{data.description}}</td>
            <td *ngIf="data.canDisburseWhenOverdue==true">Có thể giải ngân khi quá hạn</td>
            <td *ngIf="data.canDisburseWhenOverdue!=true">Không thể giải ngân khi quá hạn</td>
            <td style="text-align: right">
                <button type="button" class="btn btn-info btn-sm" (click)="openEditDialog(data)" tooltip="Cập nhật gói từ thiện">
                  <i class="fa fa-pencil"></i>
                </button>
                <button type="button" class="btn btn-danger btn-sm" (click)="deleteProjectType(data.prt_ID)" tooltip="Xoá gói từ thiện">
                  <i class="fa fa-trash-o"></i>
                </button>
            </td>
          </tbody>
          <tbody>
        </table>
        <div class="row">
          <div class="col">
            <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" [maxSize]="maxSize" class="pagination-sm"
                        previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"(pageChanged)="pageChanged($event)"
                        [boundaryLinks]="true" [rotate]="false" [itemsPerPage]="itemsPerPage"></pagination>
          </div>
          <mat-form-field [style.width.px]="80" align="right">
            <mat-label>Số hàng hiển thị</mat-label>
            <mat-select (selectionChange)="rowsChanged($event)" [(ngModel)]="selected1">
              <mat-option *ngFor="let option of options"  [value]="option.id">{{ option.value }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
</div>
