<div class="col-lg">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col">
          <h3 class="card-title">
            <small class="text-muted"> danh sách </small> Dự án đã thành công
          </h3>
        </div>
      </div>
    </div>

    <div class="card-body">
      <table class="table table-light">
        <thead>
          <tr>
            <th>#</th>
            <th>Tên Dự án</th>
            <th>Gói từ thiện</th>
            <th>Mục tiêu (Triệu đồng)</th>
            <th>Số Tin liên quan</th>
            <th>Tình trạng</th>
            <th style="text-align: right">Tác vụ</th>
          </tr>
        </thead>
        <tbody *ngFor="let data of Projects;let i=index;">
          <td>{{i+1}}</td>
          <td style="width: 30%;">{{data.projectName}}</td>
          <td>{{data.projectType.projectTypeName}}</td>
          <td>{{data.targetMoney/1000000}}</td>
          <td>0</td>
          <td *ngIf="data.disbursed==false">Chưa giải ngân</td>
          <td *ngIf="data.disbursed==true">Đã giải ngân</td>     
          <td style="text-align: right">
            <button type="button" class="btn btn-stack-overflow btn-sm" (click)="clearData(data);openDialog()" tooltip="Đăng tin tức">
              <i class="fa fa-plus-square"></i>
            </button>
          </td>
        </tbody>
        <tbody>
      </table>
      <div class="row">
        <div class="col-xs-12 col-12 col-md-6">
          <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" [maxSize]="maxSize" class="pagination-sm"
                      previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"(pageChanged)="pageChanged($event)"
                      [boundaryLinks]="true" [rotate]="false" [itemsPerPage]="itemsPerPage"></pagination>
        </div>
        <mat-form-field [style.width.px]="130"> 
          <mat-label>Số hàng hiển thị</mat-label>
          <mat-select (selectionChange)="rowsChanged($event)" [value]="5">
            <mat-option value="5">5</mat-option>
            <mat-option value="10">10</mat-option>
            <mat-option value="25">25</mat-option>
            <mat-option value="100">100</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>

