<div class="embed-responsive embed-responsive-kv">
  <div class="d-none d-md-block">
      <a>
          <img style="width: 100%; top: 0;left: 0;"
          src="https://firebasestorage.googleapis.com/v0/b/chari-c3f85.appspot.com/o/resource%2Fbanner.jpeg?alt=media&token=a66ac8e0-3a6f-488c-af49-2e5873a3a0c8">
      </a>
  </div>
</div>

<div id="ser76">
  <section class="bg-pink-light">
  <div class="container px-4">
    <div class="row align-items-center justify-content-center">
      <div class="col-12 col-md-7 col-lg-6 pr-lg-5">
        <h1 class="font-weight-bold text-primary">Nền tảng quyên góp từ thiện Chari</h1>
  
        <p class="lead text-gray-700">
          Chari - Nền tảng giúp bạn dễ dàng chung tay quyên góp tiền cùng hàng triệu người, giúp đỡ các hoàn cảnh khó khăn trên khắp cả nước.
        </p>
      </div>
  
      <div class="col-12 col-md-5 mt-4 mt-lg-0 col-lg-6 text-center d-none d-md-block">
        <img alt="" class="img-fluid" src="https://firebasestorage.googleapis.com/v0/b/chari-c3f85.appspot.com/o/resource%2Fbanner2.png?alt=media&token=d0654aa8-1a11-4eed-aa49-1f244d4034a5">
      </div>
    </div>
  </div>
  </section>
</div>

<div id="ser120">
  <section class="bg-white bg-cover pb-0">
  <div class="container overflow-hidden">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8">
        <div class="text-center section__title">
          <h2 class="h2 font-weight-bold text-primary">Chari - làm việc tốt thật dễ</h2>
        </div>
      </div>
    </div>
  
    <div class="row justify-content-center sm-gutters reason__service ">
      <div class="col-12 col-md-6 col-lg-4 order-1 order-md-1 reason__item__left">
        <div class="reason__item remove_maxwith align-items-start aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
          <div class="reason__item__avatar">
            <img alt="" src="https://firebasestorage.googleapis.com/v0/b/chari-c3f85.appspot.com/o/resource%2Ficon1.svg?alt=media&token=e525b265-b2e3-4305-bb7d-9bfd9c638dff" style="width: 45px; height: 45px;">
          </div>
  
          <div class="reason__item__content">
            <div>
              <h3 class="text-pink-hot fw-700 h6">Quyên góp nhanh chóng, dễ dàng</h3>
  
              <p>
                Chỉ với vài chạm, bạn đã góp phần giúp đỡ 1 hoàn cảnh khó khăn có cuộc sống tốt đẹp hơn.
              </p>
            </div>
          </div>
        </div>
  
        <div class="reason__item remove_maxwith align-items-start aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
          <div class="reason__item__avatar">
            <img alt="" src="https://firebasestorage.googleapis.com/v0/b/chari-c3f85.appspot.com/o/resource%2Ficon2.svg?alt=media&token=829d91d7-efaa-4eda-b425-1bf3e0207efc" style="width: 45px; height: 45px;">
          </div>
  
          <div class="reason__item__content">
            <div>
              <h3 class="text-pink-hot fw-700 h6">Tiền ít tấm lòng nhiều</h3>
  
              <p>
                Với mức ủng hộ tối thiểu 1.000 đồng, bạn đã cùng hàng triệu nhà hảo tâm khác của Chari giúp đỡ những mảnh đời khó khăn.
              </p>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-12 col-md-4 order-3 order-md-2 col-xl-auto align-self-center d-none d-lg-block">
        <div class="position-relative mt-md-5 mt-lg-0 reason__item__phone">
          <img alt="Trái tim MoMo" class="img-fluid d-block mx-auto lazyloaded" src="https://firebasestorage.googleapis.com/v0/b/chari-c3f85.appspot.com/o/resource%2Freason.png?alt=media&token=d7d0b465-afe5-4760-8069-4a395f3c4a12" style="height: 350px; width: 350px;">
        </div>
      </div>
  
      <div class="col-12 col-md-6 col-lg-4 order-2 order-md-3 reason__item__right">
        <div class="reason__item remove_maxwith align-items-start aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
          <div class="reason__item__avatar">
            <img alt="" src="https://firebasestorage.googleapis.com/v0/b/chari-c3f85.appspot.com/o/resource%2Ficon3.svg?alt=media&token=9e68308c-ecb2-498b-adb5-339ca46ce090" style="width: 53px; height: 53px;">
          </div>
  
          <div class="reason__item__content">
            <div>
              <h3 class="text-pink-hot fw-700 h6">Minh bạch, công khai mọi khoản đóng góp</h3>
  
              <p>
                Mọi thông tin về hoạt động đóng góp đều được công khai và cập nhật liên tục.
              </p>
            </div>
          </div>
        </div>
  
        <div class="reason__item remove_maxwith align-items-start aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
          <div class="reason__item__avatar">
            <img alt="" src="https://firebasestorage.googleapis.com/v0/b/chari-c3f85.appspot.com/o/resource%2Ficon4.svg?alt=media&token=aec3af3e-5e19-406d-8e24-b5d2a96f2dbd" style="width: 58px; height: 42px;">
          </div>
  
          <div class="reason__item__content">
            <div>
              <h3 class="text-pink-hot fw-700 h6">Gây quỹ bởi đội ngũ cộng tác viên chuyên nghiệp</h3>
  
              <p>
                Đội ngũ cộng tác viên của Chari sẽ tìm kiếm những mảnh đời khó khăn trên khắp đất nước để hàng triệu nhà hảo tâm chung tay giúp đỡ.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>
</div>


<div id="ser121">
  <section class="bg-pink-light bg-cover pb-0">
    <div class="row">
      <div class="col-md-12 mx-auto">
        <div class="card mx-4">
          <div class="card-body p-4">
            <form>
              <h1>Gửi thông tin của những hoàn cảnh khó khăn đến chúng tôi</h1>
              <p class="text-muted">Những hoàn cảnh do bạn gửi đến sẽ được chúng tôi xem xét và tìm hiểu để tiến hành gây quỹ trên Chari</p>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-info"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Họ và tên người giới thiệu *" (keyup)="getreferrerName($event.target.value)" (keyup.enter)="send()" required>
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-phone"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Số điện thoại liên lạc *" (keyup)="getreferrerPhone($event.target.value)" (keyup.enter)="send()" required>
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-info"></i></span>
                </div>
                <textarea type="text" class="form-control" placeholder="Mô tả hoàn cảnh mà bạn muốn giới thiệu *" (keyup)="getreferrerDescription($event.target.value)" (keyup.enter)="send()" required></textarea>
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-info"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Họ và tên người cần hỗ trợ *"  (keyup)="getfullName($event.target.value)"  (keyup.enter)="send()" required>
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-phone"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Số điện thoại người cần hỗ trợ"  (keyup)="getphoneNumber($event.target.value)" (keyup.enter)="send()" required>
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-direction"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Địa chỉ liên hệ người cần hỗ trợ *"  (keyup)="getaddress($event.target.value)" (keyup.enter)="send()">
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-info"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Tên ngân hàng (nếu có)" (keyup)="getbankName($event.target.value)"(keyup.enter)="send()">
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-info"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Số tài khoản ngân hàng (nếu có)"  (keyup)="getbankAccount($event.target.value)"(keyup.enter)="send()">
              </div>
              
              <button type="button" class="btn btn-block btn-success" (click)="send()">Gửi</button>

              <a [routerLink]="['/login']"><button type="button" class="btn btn-primary active mt-3">Đăng nhập </button></a> 
              <a [routerLink]="['/register']"><button type="button" class="btn btn-primary active mt-3">Đăng ký trở thành cộng tác viên Chari</button></a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>




 