.bg-pink-light {
  background-color: #fceff4;
}
.bg-white {
  background-color: #ffffff;
}

.overflow-hidden {
  overflow: hidden!important;
}

.bg-cover {
  background-size: cover;
}

.reason__item__avatar {
  position: absolute;
  margin-bottom: 0;
  width: 65px;
  height: 65px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fceff4;
  border-radius: 50%;
}

.reason__item__content {
  margin-bottom: 0;
  text-align: left;
  width: 100%;
  margin-left: 0;
  padding-left: 85px;
  padding-right: 0;
  border-radius: 0;
  box-shadow: none!important;
  background-color: transparent;
}

.fw-700 {
  font-weight: 700!important;
}

.text-gray-700 {
  color: #616161!important;
}

.text-pink-hot {
  color: #FA6066;
}

.text-primary {
  color: #FF545B!important;
}
.font-weight-bold {
  font-weight: 700!important;
}