<button mat-icon-button mat-dialog-close class="close-button" >
    <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>  
<h3 mat-dialog-title>Thông tin quyên góp</h3>
<mat-dialog-content>
     <mat-form-field appearance="outline" [style.width.%]="100">
        <mat-label>Tên đầy đủ</mat-label>
        <input name="fullname" matInput [(ngModel)]="fullName">
    </mat-form-field>
     <mat-form-field appearance="outline" [style.width.%]="100">
        <mat-label>Tên ngân hàng</mat-label>
        <input name="bankName" matInput [(ngModel)]="bankName" cdkFocusInitial>
    </mat-form-field>
     <mat-form-field appearance="outline" [style.width.%]="100">
        <mat-label>Số tài khoản</mat-label>
        <input name="bankAccount" matInput [(ngModel)]="bankAccount" cdkFocusInitial>
    </mat-form-field>
    <mat-form-field appearance="outline" [style.width.%]="100">
        <mat-label>Nội dung chuyển khoản</mat-label>
        <input name="disbureCode" matInput [(ngModel)]="disburseCode">
    </mat-form-field>
</mat-dialog-content>

