<div class="col-lg">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col">
            <h3 class="card-title">
               Thông báo đẩy
            </h3>
          </div>
        </div>
      </div>

      <div class="card-body">
        <table class="table table-light">
          <thead>
            <tr>
              <th>#</th>
              <th>Tiêu đề</th>
              <th>Nội dung</th>
              <th style="text-align: right">Tác vụ</th>
            </tr>
          </thead>
          <tbody *ngFor="let data of PushNotifications;let i=index;">
            <td>{{i+1}}</td>
            <td>{{data.title}}</td>
            <td style="width: 65%">{{data.message}}</td>
            <td style="text-align: right">
              <button type="button" class="btn btn-info btn-sm" (click)="openEditDialog(data)">
                <i class="fa fa-pencil"></i>
              </button>
            </td>
          </tbody>
          <tbody>
        </table>
      </div>
    </div>
</div>
