<div class="col-lg">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col">
          <h3 class="card-title">
            <small class="text-muted"> danh sách </small> Tin từ thiện
          </h3>
        </div>
        <div class="col-auto">
          <button type="button" class="btn btn-info" (click)="clearData(); openDialog()" tooltip="Thêm tin tức cho dự án đã thành công">
            <i class="fa fa-plus"></i>
            <a>Thêm</a>
          </button>
        </div>
      </div>
    </div>

    <div class="card-body">
      <table class="table table-light">
        <thead>
          <tr>
            <th>#</th>
            <th>Hình ảnh</th>
            <th>Tên Tin</th>
            <th>Tên dự án</th>
            <th style="width: 15%" >Tình trạng</th>
            <th style="width: 300px;text-align: right">Tác vụ</th>
          </tr>
        </thead>
        <tbody *ngFor="let data of Posts;let i=index;">
          <td>{{i+1}}</td>
          <td style="width: 75px;cursor:pointer" (click)="openEditDialog(data)">
            <img style="border-radius: 5px;" [src]="data.imageUrl" width="70px" height="50px">
          </td>
          <td style="width: 35%;cursor:pointer" (click)="openEditDialog(data)">{{data.name}}</td>
          <td style="width: 25%;cursor:pointer" (click)="openEditDialog(data)">{{data.projectName}}</td>
          <td style="width: 15%" *ngIf="data.isPublic==true">Đã công bố</td>
          <td style="width: 15%" *ngIf="data.isPublic!=true">Chưa công bố</td>
          <td style="text-align: right" *ngIf="data.isPublic==true">
            <button type="button" class="btn btn-warning btn-sm" (click)="unPublicPost(data.pos_ID)" tooltip="Ẩn tin tức">
              <i class="fa fa-eye-slash"></i>
            </button>
            <button type="button" class="btn btn-info btn-sm" (click)="openEditDialog(data)" tooltip="Cập nhật tin tức">
              <i class="fa fa-pencil"></i>
            </button>
            <button type="button" class="btn btn-danger btn-sm" (click)="deletePost(data.pos_ID)" tooltip="Xoá tin tức">
              <i class="fa fa-trash"></i>
            </button>
          </td>
          <td style="text-align: right" *ngIf="data.isPublic!=true">
            <button type="button" class="btn btn-success btn-sm" (click)="publicPost(data.pos_ID)" tooltip="Hiện tin tức">
              <i class="fa fa-check"></i>
            </button>
            <button type="button" class="btn btn-info btn-sm" (click)="openEditDialog(data)" tooltip="Cập nhật tin tức">
              <i class="fa fa-pencil"></i>
            </button>
            <button type="button" class="btn btn-danger btn-sm" (click)="deletePost(data.pos_ID)" tooltip="Xoá tin tức">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tbody>
        <tbody>
      </table>
      <div class="row">
        <div class="col">
          <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" [maxSize]="maxSize" class="pagination-sm"
                      previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"(pageChanged)="pageChanged($event)"
                      [boundaryLinks]="true" [rotate]="false" [itemsPerPage]="itemsPerPage"></pagination>
        </div>
        <mat-form-field [style.width.px]="80" align="right">
          <mat-label>Số hàng hiển thị</mat-label>
          <mat-select (selectionChange)="rowsChanged($event)" [(ngModel)]="selected1">
            <mat-option *ngFor="let option of options"  [value]="option.id">{{ option.value }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>


