<div class="col-lg">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col">
            <h3 class="card-title">
              <small class="text-muted"> danh sách </small> Nhà hảo tâm
            </h3>
          </div>
        </div>
      </div>

      <div class="card-body">
        <table class="table table-light">
          <thead>
            <tr>
              <th>#</th>
              <th>Tên đầy đủ</th>
              <th>Địa chỉ</th>
              <th>Số điện thoại</th>
              <th>Tên đăng nhập</th>
            </tr>
          </thead>
          <tbody *ngFor="let data of Donators;let i=index;">
            <td>{{i+1}}</td>
            <td>{{data.fullName}}</td>
            <td>{{data.address}}</td>
            <td>{{data.phoneNumber}}</td>
            <td>{{data.username}}</td>
          </tbody>
          <tbody>
        </table>
        <div class="row">
          <div class="col">
            <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" [maxSize]="maxSize" class="pagination-sm"
                        previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"(pageChanged)="pageChanged($event)"
                        [boundaryLinks]="true" [rotate]="false" [itemsPerPage]="itemsPerPage"></pagination>
          </div>
          <mat-form-field [style.width.px]="80" align="right">
            <mat-label>Số hàng hiển thị</mat-label>
            <mat-select (selectionChange)="rowsChanged($event)" [(ngModel)]="selected1">
              <mat-option *ngFor="let option of options"  [value]="option.id">{{ option.value }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
</div>
