<button mat-icon-button class="close-button" mat-dialog-close>
    <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>  

<h3 mat-dialog-title>Trả lời phản hồi</h3>
<mat-dialog-content>
    <mat-form-field appearance="outline" [style.width.%]="100">
        <mat-label>Tiêu đề</mat-label>
        <input disabled matInput name="title"  [(ngModel)]="data.title" >
    </mat-form-field>
    <mat-form-field appearance="outline" [style.width.%]="100">
        <mat-label>Nội dung</mat-label>
        <textarea matInput name="description" [(ngModel)]="data.description"></textarea>
    </mat-form-field> 
     <mat-form-field appearance="outline" [style.width.%]="100">
        <mat-label>Trả lời</mat-label>
        <textarea matInput name="theReply" [(ngModel)]="data.theReply" (keyup.enter)="save()" required cdkFocusInitial></textarea>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button class="btn btn-success" (click)="save()">Gửi</button>
</mat-dialog-actions>