.image-container-loading {
    position: relative;
    background-image: url("../assets/img/loading.gif");
    background-repeat: no-repeat;
    background-size: 70px;
    background-position: center;
    width: 300px;
    height: 180px;
    margin: 5px;
  }
  
  .image-container {
    position: relative;
    background-image: url("../assets/img/upload.png");
    background-repeat: no-repeat;
    background-size: 70px;
    background-position: center;
    width: 300px;
    height: 180px;
    border: 1px dashed #1C8ADB;
    border-radius: 2px;
    margin: 5px;
  }
  
  .image-container:hover {
    cursor: pointer;
    background-color: #9ecbec !important;
    opacity: 0.8;
  }
  
  
  img {
    position: absolute;
    width: 300px;
    height: 182px;
    left: -2px;
    top: -2px;
    border-radius: 2px;
  }
  .button {
    position: absolute;
    /* right: -10px; */
    right: -5px;
    top: -2px;
  }
  
  
  .video-container-loading {
    position: relative;
    background-image: url("../assets/img/loading.gif");
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: center;
    width: 100%;
    height: 400px;
    margin: 10px auto;
    border-radius: 3px;
  }
  
  .video-container {
    position: relative;
    background-image: url("../assets/img/upload-video.png");
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: center;
    width: 100%;
    height: 400px;
    margin: 10px auto;
    border: 1px dashed #1C8ADB;
    border-radius: 3px;
  }
  
  .video-container:hover {
    cursor: pointer;
    background-color: #9ecbec !important;
    opacity: 0.8;
  }
  
  
  video {
    position: absolute;
    border-radius: 3px;
    width: 100%;
    height: auto;
  }
  
  .delete-video-button {
    position: absolute;
    right: 0px;
  }
  .close-button{
    float: right;
    top:-24px;
    right:-24px;
  }
  .back-button{
    float: left;
    top:-24px;
    left:-24px;
  }