<div class="col-lg">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col">
          <h3 class="card-title">
             Dự án đang hoạt động
          </h3>
        </div>
        <div class="col-auto">
          <button type="button" class="btn btn-success" tooltip="File mẫu mang định dạng chuẩn" >
            <i class="icon-cloud-download"></i>
            <a style="color:white;" href="https://firebasestorage.googleapis.com/v0/b/chari-c3f85.appspot.com/o/SaoKeMau.xlsx?alt=media&token=537bb08b-d2e6-4a17-a73f-325caa8edbf5" download>Tải xuống file sao kê mẫu</a>
          </button>
          <input #excelInput hidden="true" type="file" onclick="this.value=null" (change)="onFileChange($event)" multiple="false" accept=".xls,.xlsx"/>
          <button class="btn btn-primary" (click)="excelInput.click()" tooltip="Tải lên file sao kê chứa nội dung quyên góp để cập nhật tiến độ của các dự án">
            <i class="icon-cloud-upload"></i>
            <a>Cập nhật tiến độ quyên góp</a>
          </button>
          <button type="button" class="btn btn-html5" (click)="disburseFund()" tooltip="Tiền từ quỹ chung sẽ được chia đều đến tất cả dự án đang hoạt động còn lại">
            <i class="fa fa-heart-o"></i>
            <a>Chia đều quỹ chung</a>
          </button>
          <button type="button" class="btn btn-facebook" (click)="openAddProjectDialog()" tooltip="Thêm mới một dự án, dự án sẽ được hiện lên ứng dụng di động ngay lập tức">
            <i class="fa fa-plus"></i>
            <a>Thêm dự án</a>
          </button>
        </div>
      </div>
    </div>

    <div class="card-body">
      <table class="table table-light">
        <thead>
          <tr>
            <th>#</th>
            <th>Hình ảnh</th>
            <th>Tên Dự án</th>
            <th style="text-align: right">Mục tiêu</th>
            <th style="text-align: right">Đã quyên góp </th>
            <th style="text-align: right">Đạt được (%)</th>
            <th style="text-align: right">Thời hạn còn (Ngày)</th>
            <th style="text-align: right">Tác vụ</th>
          </tr>
        </thead>
        <tbody *ngFor="let data of Projects;let i=index;">
          <td>{{i+1}}</td>
          <td style="width: 80px;cursor:pointer" (click)="openEditProjectDialog(data)"><img style="border-radius: 5px;" [src]="data.imageUrl" width="70px" height="50px"></td>
          <td style="width: 30%; cursor:pointer" (click)="openEditProjectDialog(data)">{{data.projectName}}</td>
          <td style="text-align: right">{{numberWithCommas(data.targetMoney)}}</td>
          <td style="text-align: right">{{numberWithCommas(data.curMoney)}}</td>
          <td style="text-align: right">{{data.achieved}}</td>
          <td *ngIf="data.prj_ID!=0" style="text-align: right">{{data.remainingTerm}}</td>   
          <td *ngIf="data.prj_ID==0" style="text-align: right">Vô thời hạn</td>   
          <td *ngIf="data.prj_ID!=0" style="text-align: right">
            <button type="button" class="btn btn-info btn-sm" (click)="openEditProjectDialog(data)" tooltip="Cập nhật thông tin dự án">
              <i class="fa fa-pencil"></i>
            </button>
            <button type="button" class="btn btn-stack-overflow btn-sm" (click)="clearData(data);openDialog()" tooltip="Đăng tin tức">
              <i class="fa fa-plus-square"></i>
            </button>
          </td>
          <td *ngIf="data.prj_ID==0" style="text-align: right">
            <button type="button" class="btn btn-secondary btn-sm" (click)="updateMoveMoneyProgress()" tooltip="Cập nhật tiến độ xử lý">
              <i class="icon-refresh"></i>
            </button>
            <button type="button" class="btn btn-info btn-sm" (click)="openEditProjectDialog(data)" tooltip="Cập nhật thông tin dự án">
              <i class="fa fa-pencil"></i>
            </button>
            <button type="button" class="btn btn-stack-overflow btn-sm" (click)="clearData(data);openDialog()" tooltip="Đăng tin tức">
              <i class="fa fa-plus-square"></i>
            </button>
          </td>
        </tbody>
        <tbody>
      </table>
      <div class="row">
        <div class="col">
          <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" [maxSize]="maxSize" class="pagination-sm"
                      previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"(pageChanged)="pageChanged($event)"
                      [boundaryLinks]="true" [rotate]="false" [itemsPerPage]="itemsPerPage"></pagination>
        </div>
        <mat-form-field [style.width.px]="80" align="right">
          <mat-label>Số hàng hiển thị</mat-label>
          <mat-select (selectionChange)="rowsChanged($event)" [(ngModel)]="selected1">
            <mat-option *ngFor="let option of options"  [value]="option.id">{{ option.value }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>

