<div class="col-lg">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col">
          <h3 class="card-title">
             Dự án đã thất bại
          </h3>
        </div>
        <div class="col-auto">
          <button type="button" class="btn btn-success" >
            <i class="icon-cloud-download"></i>
            <a style="color:white;" href="https://firebasestorage.googleapis.com/v0/b/chari-c3f85.appspot.com/o/SaoKeMau.xlsx?alt=media&token=537bb08b-d2e6-4a17-a73f-325caa8edbf5" download>Tải xuống file sao kê mẫu</a>
          </button>

          <input #excelInput hidden="true" type="file" onclick="this.value=null" (change)="onFileChange($event)" multiple="false" accept=".xls,.xlsx"/>
          <button class="btn btn-primary" (click)="excelInput.click()">
            <i class="icon-cloud-upload"></i>
            <a>Cập nhật sao kê giải ngân</a>
          </button>
        </div>
      </div>
    </div>

    <div class="card-body">
      <table class="table table-light">
        <thead>
          <tr>
            <th>#</th>
            <th style="width: 75px;">Hình ảnh</th>
            <th>Tên Dự án</th>
            <th style="text-align: right">Mục tiêu</th>
            <th style="text-align: right">Đã quyên góp </th>
            <th style="text-align: right">Đạt được (%)</th>
            <th >Cho phép giải ngân</th>
            <th>Tình trạng</th>
            <th style="width: 150px;text-align: right">Tác vụ</th>
          </tr>
        </thead>
        <tbody *ngFor="let data of Projects;let i=index;">
          <td>{{i+1}}</td>
          <td style="width: 80px; cursor:pointer"><img style="border-radius: 5px;" [src]="data.imageUrl" width="70px" height="50px"></td>
          <td style="width: 20%;">{{data.projectName}}</td>
          <td style="width: 10%; text-align: right">{{numberWithCommas(data.targetMoney)}}</td>
          <td style="width: 10%; text-align: right">{{numberWithCommas(data.curMoney)}}</td>
          <td style="width: 10%; text-align: right">{{data.achieved}}</td>
          <td style="width: 15%;" *ngIf="data.projectType.canDisburseWhenOverdue==true">Có</td>
          <td style="width: 15%;" *ngIf="data.projectType.canDisburseWhenOverdue!=true">Không</td>
          <td style="width: 10%;" *ngIf="data.projectType.canDisburseWhenOverdue!=true && data.disbursed==false">Không thể giải ngân</td>
          <td style="width: 10%;" *ngIf="data.projectType.canDisburseWhenOverdue==true && data.disbursed==false">Chưa giải ngân</td>
          <td style="width: 10%;" *ngIf="data.projectType.canDisburseWhenOverdue==true && data.disbursed==true">Đã giải ngân</td>

          <td style="text-align: right" *ngIf="data.projectType.canDisburseWhenOverdue != true && data.curMoney/data.targetMoney>0.8">
            <button disabled type="button" class="btn btn-sm btn-secondary" style="opacity: 0.2">
              <i class="fa fa-eye"></i>
            </button>
            <button type="button" class="btn btn-sm btn-success" (click)="openExtendDialog(data.prj_ID)" tooltip="Gia hạn dự án">
              <i class="fa fa-clock-o"></i>
            </button>
            <button disabled type="button" class="btn btn-sm btn-danger" style="opacity: 0.2">
              <i class="fa fa-close"></i>
            </button>
          </td>          
          
          <td style="text-align: right" *ngIf="data.projectType.canDisburseWhenOverdue != true && data.curMoney/data.targetMoney<0.8">
            <button disabled type="button" class="btn btn-sm btn-secondary" style="opacity: 0.2">
              <i class="fa fa-eye"></i>
            </button>
            <button disabled type="button" class="btn btn-sm btn-success" style="opacity: 0.2">
              <i class="fa fa-clock-o"></i>
            </button>
            <button type="button" class="btn btn-sm btn-danger" (click)="closeProject(data.prj_ID)" tooltip="Đóng dự án">
              <i class="fa fa-close"></i>
            </button>
          </td>


          <td style="text-align: right" *ngIf="data.projectType.canDisburseWhenOverdue == true && data.curMoney/data.targetMoney>0.8 && data.disbursed==false">
            <button type="button" class="btn btn-sm btn-secondary" (click)="openDisburseDialog(data)" tooltip="Hiện thông tin giải ngân">
              <i class="fa fa-eye"></i>
            </button>
            <button type="button" class="btn btn-sm btn-success" (click)="openExtendDialog(data.prj_ID)" tooltip="Gia hạn dự án">
              <i class="fa fa-clock-o"></i>
            </button>
            <button disabled type="button" class="btn btn-sm btn-danger" style="opacity: 0.2">
              <i class="fa fa-close"></i>
            </button>
          </td>  

          <td style="text-align: right" *ngIf="data.projectType.canDisburseWhenOverdue == true && data.curMoney/data.targetMoney<0.8 && data.disbursed==false">
            <button type="button" class="btn btn-sm btn-secondary" (click)="openDisburseDialog(data)" tooltip="Hiện thông tin giải ngân">
              <i class="fa fa-eye"></i>
            </button>
            <button disabled type="button" class="btn btn-sm btn-success" style="opacity: 0.2">
              <i class="fa fa-clock-o"></i>
            </button>
            <button disabled type="button" class="btn btn-sm btn-danger" style="opacity: 0.2">
              <i class="fa fa-close"></i>
            </button>
          </td> 

          <td style="text-align: right" *ngIf="data.projectType.canDisburseWhenOverdue == true && data.curMoney/data.targetMoney>0.8 && data.disbursed==true">
            <button disabled type="button" class="btn btn-sm btn-secondary" style="opacity: 0.2">
              <i class="fa fa-eye"></i>
            </button>
            <button disabled type="button" class="btn btn-sm btn-success" style="opacity: 0.2">
              <i class="fa fa-clock-o"></i>
            </button>
            <button type="button" class="btn btn-sm btn-danger" (click)="closeProject(data.prj_ID)" tooltip="Đóng dự án">
              <i class="fa fa-close"></i>
            </button>
          </td>  

          <td style="text-align: right" *ngIf="data.projectType.canDisburseWhenOverdue == true && data.curMoney/data.targetMoney<0.8 && data.disbursed==true">
            <button disabled type="button" class="btn btn-sm btn-secondary" style="opacity: 0.2">
              <i class="fa fa-eye"></i>
            </button>
            <button disabled type="button" class="btn btn-sm btn-success" style="opacity: 0.2">
              <i class="fa fa-clock-o"></i>
            </button>
            <button type="button" class="btn btn-sm btn-danger" (click)="closeProject(data.prj_ID)" tooltip="Đóng dự án">
              <i class="fa fa-close"></i>
            </button>
          </td> 

          

        </tbody>
        <tbody>
      </table>
      <div class="row">
        <div class="col">
          <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" [maxSize]="maxSize" class="pagination-sm"
                      previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"(pageChanged)="pageChanged($event)"
                      [boundaryLinks]="true" [rotate]="false" [itemsPerPage]="itemsPerPage"></pagination>
        </div>
        <mat-form-field [style.width.px]="80" align="right">
          <mat-label>Số hàng hiển thị</mat-label>
          <mat-select (selectionChange)="rowsChanged($event)" [(ngModel)]="selected1">
            <mat-option *ngFor="let option of options"  [value]="option.id">{{ option.value }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>

