<h3 mat-dialog-tile *ngIf="data.prj_ID==undefined">Thêm Chương trình từ thiện</h3>
<h3 mat-dialog-tile *ngIf="data.prj_ID!=undefined">Cập nhật Chương trình từ thiện</h3>

<mat-dialog-content>
    <mat-form-field>
        <mat-label>Tên chương trình</mat-label>
        <input name="project_name" matInput [(ngModel)]="data.projectName" required>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Tiêu đề</mat-label>
        <input name="brief_description" matInput [(ngModel)]="data.briefDescription" required>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Nội dung</mat-label>
        <textarea matInput name="description" [(ngModel)]="data.description" required></textarea>
    </mat-form-field>   
    <mat-form-field>
        <mat-label>Ngày bắt đầu</mat-label>
        <input matInput [matDatepicker]="pickerStartDate" name="startDate" [(ngModel)]="data.startDate" required>
        <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
        <mat-datepicker #pickerStartDate></mat-datepicker>
    </mat-form-field>   
    <mat-form-field>
        <mat-label>Ngày kết thúc</mat-label>
        <input matInput [matDatepicker]="pickerEndDate" name="endDate" [(ngModel)]="data.endDate" required>
        <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
        <mat-datepicker #pickerEndDate></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Mục tiêu quyên góp</mat-label>
        <input name="target_money" matInput [(ngModel)]="data.targetMoney" required>
    </mat-form-field>
    <mat-form-field >
        <mat-label>Gói từ thiện</mat-label>
        <mat-select class="form-control" [(ngModel)]="data.prt_ID" id="project_type_id" name="project_type_id" required>
            <mat-option *ngFor="let type of ProjectTypes" [value]="type.prt_ID">
                {{type.projectTypeName}}
            </mat-option>
        </mat-select>
    </mat-form-field>   
    <mat-form-field >
        <mat-label>Cá nhân thụ hưởng</mat-label>
        <mat-select class="form-control" [(ngModel)]="data.stp_ID" id="supported_people_id" name="supported_people_id" required>
            <mat-option *ngFor="let spt of SupportedPeoples" [value]="spt.stp_ID">
                {{spt.fullName}}
            </mat-option>
        </mat-select>
    </mat-form-field>
      

    <label>Tải video và hình ảnh cho dự án</label>
    <div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop (files)="uploadFile($event)">
        <input hidden type="file" #fileInput (change)="uploadFile($event.target.files)">
    </div>
    <div class="files-list" *ngFor="let file of files;let i=index" >
        <p>{{ file }}</p>
        <button type="button" class="btn btn-danger btn-sm" (click)="deleteAttachment(i)">
            <i class="fa fa-remove"></i>
        </button>
    </div>

</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button (click)="test()">test</button>
    <button mat-button mat-dialog-close>Hủy</button>
    <button mat-button (click)="save()" cdkFocusInitial>Lưu</button>
</mat-dialog-actions>