<h3 mat-dialog-tile *ngIf="data.prj_ID==undefined">Thêm Dự án từ thiện</h3>
<h3 mat-dialog-tile *ngIf="data.prj_ID!=undefined">Cập nhật Dự án từ thiện</h3>

<mat-dialog-content>
    <mat-form-field appearance="outline">
        <mat-label>Tên Dự án</mat-label>
        <input name="project_name" matInput [(ngModel)]="data.projectName" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Tiêu đề</mat-label>
        <input name="brief_description" matInput [(ngModel)]="data.briefDescription" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Nội dung</mat-label>
        <textarea matInput name="description" [(ngModel)]="data.description" required></textarea>
    </mat-form-field> 

    <mat-form-field appearance="outline">
        <mat-label>Ngày bắt đầu</mat-label>
        <input matInput [matDatepicker]="pickerStartDate" name="startDate" [(ngModel)]="data.startDate" required>
        <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
        <mat-datepicker #pickerStartDate></mat-datepicker>
    </mat-form-field>   
   
    <mat-form-field appearance="outline">
        <mat-label>Ngày kết thúc</mat-label>
        <input matInput [matDatepicker]="pickerEndDate" name="endDate" [(ngModel)]="data.endDate" required>
        <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
        <mat-datepicker #pickerEndDate></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Mục tiêu quyên góp</mat-label>
        <input name="target_money" matInput [(ngModel)]="data.targetMoney" required>
    </mat-form-field>

    <mat-checkbox *ngIf="data.prj_ID==undefined" name="canDisburseWhenOverdue" (click)="changeState()" [(ngModel)]="data.canDisburseWhenOverdue">Cho phép giải ngân khi hết hạn</mat-checkbox>
    <mat-checkbox *ngIf="data.prj_ID!=undefined" disabled name="canDisburseWhenOverdue" (click)="changeState()" [(ngModel)]="data.canDisburseWhenOverdue">Cho phép giải ngân khi hết hạn</mat-checkbox>
   
    <mat-form-field *ngIf="data.prj_ID==undefined" >
        <mat-label>Chương trình từ thiện</mat-label>
        <mat-select class="form-control" [(ngModel)]="data.prt_ID" id="project_type_id" name="project_type_id" required>
            <mat-option *ngFor="let type of filterProjectType()" [value]="type.prt_ID">
                <a>{{type.projectTypeName}}</a>
            </mat-option>
        </mat-select>
    </mat-form-field>   

    <mat-form-field *ngIf="data.prj_ID!=undefined" >
        <mat-label>Chương trình từ thiện</mat-label>
        <mat-select disabled class="form-control" [(ngModel)]="data.prt_ID" id="project_type_id" name="project_type_id" required>
            <mat-option *ngFor="let type of ProjectTypes" [value]="type.prt_ID">
                <a>{{type.projectTypeName}}</a>
            </mat-option>
        </mat-select>
    </mat-form-field>   

    <mat-form-field >
        <mat-label>Đơn vị thụ hưởng</mat-label>
        <mat-select class="form-control" [(ngModel)]="data.stp_ID" id="supported_people_id" name="supported_people_id" required>
            <mat-option *ngFor="let spt of SupportedPeoples" [value]="spt.stp_ID">
                {{spt.fullName}}
            </mat-option>
        </mat-select>
    </mat-form-field>
      

    <label>Tải hình ảnh cho dự án (chỉ hỗ trợ định dạng .jpg , .jpeg và png)</label>
    <div class="uploadfilecontainer" (click)="imageInput.click()" appDragDrop (files)="uploadImages($event)">
        <input hidden type="file" #imageInput (change)="uploadImages($event.target.files)" accept=".jpg,.jpeg,.png">
    </div>

    <mat-grid-list cols="3">
        <mat-grid-tile *ngFor="let imageUrl of imageUrls;let i=index">
            <div class="container">
                <img *ngIf="imageUrl" [src]="imageUrl"  style="border-radius: 5px">
                <button *ngIf="imageUrl" type="button" class="btn" (click)="deleteAttachment(i)">
                    <i class="fa fa-remove"></i>
                </button>
            </div>
        </mat-grid-tile>
    </mat-grid-list>

    <label>Tải video cho dự án (chỉ hỗ trợ định dạng .mp4)</label>
    <div class="uploadfilecontainer" (click)="videoInput.click()" videoDragDrop (files)="uploadVideo($event)">
        <input hidden type="file" #videoInput (change)="uploadVideo($event.target.files)" multiple="false" accept=".mp4">
    </div>
    <div>
        <video *ngIf="videoUrl" [src]="videoUrl" width="400" controls>
            <source src="videoUrl" type="video/mp4">
        </video>        
        <button *ngIf="videoUrl" type="button" class="btn btn-outline-danger btn-sm" (click)="deleteVideo()">
            <i class="fa fa-remove"></i>
        </button>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Hủy</button>
    <button mat-button (click)="save()" cdkFocusInitial>Lưu</button>
</mat-dialog-actions>