<div class="col-lg">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col">
          <h3 class="card-title">
            <small class="text-muted"> danh sách </small> Chương trình từ thiện
          </h3>
        </div>
        <div class="col-auto">
          <button type="button" class="btn btn-info" (click)="clearData(); openDialog()" >
            <i class="fa fa-plus"></i>
            <a>Thêm</a>
          </button>
        </div>
      </div>
    </div>

    <div class="card-body">
      <table class="table table-light">
        <thead>
          <tr>
            <th>#</th>
            <th>Tên chương trình</th>
            <th>Mục tiêu (Triệu đồng)</th>
            <th>Gói từ thiện</th>
            <th>Người thụ hưởng</th>
            <th>Đăng bởi</th>
            <th>Hình ảnh</th>
            <th>Hành động</th>
          </tr>
        </thead>
        <tbody *ngFor="let data of Projects;let i=index;">
          <td>{{i+1}}</td>
          <td>{{data.projectName}}</td>
          <td>{{data.targetMoney/1000000}}</td>
          <td>{{data.projectType.projectTypeName}}</td>
          <td>{{data.supportedPeople.fullName}}</td>
          <td>{{data.collaborator.fullName}}</td>
          <td>
            <img style="border-radius: 5px;" [src]="data.imageUrl" width="70px" height="50px">
          </td>
          <td>
              <button type="button" class="btn btn-info btn-sm" (click)="openEditDialog(data)">
                <i class="fa fa-edit"></i>
              </button>
          </td>
        </tbody>
        <tbody>
      </table>
    </div>
  </div>
</div>


