<div class="col-lg">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col">
            <h3 class="card-title">
              <small class="text-muted"> danh sách </small> Người dùng
            </h3>
          </div>
        </div>
      </div>

      <div class="card-body">
        <table class="table table-light">
          <thead>
            <tr>
              <th>#</th>
              <th>Username</th>
              <th>Loại người dùng</th>
              <th>Trạng thái</th>
              <th style="text-align: right">Tác vụ</th>
            </tr>
          </thead>
          <tbody *ngFor="let data of Users;let i=index;">
            <td>{{i+1}}</td>
            <td>{{data.username}}</td>
            <td>
              <span *ngIf="data.usertype=='Donator'" class="badge badge-light">Nhà hảo tâm</span>
              <span *ngIf="data.usertype=='Collaborator'" class="badge badge-primary">Cộng tác viên</span>
              <span *ngIf="data.usertype=='Admin'" class="badge badge-warning">Quản trị viên</span>
            </td>
            <td>
              <span *ngIf="data.status=='ACTIVATED'" class="badge badge-success">Đã kích hoạt</span>
              <span *ngIf="data.status=='NOT_ACTIVATED'" class="badge badge-secondary">Chưa kích hoạt</span>
              <span *ngIf="data.status=='BLOCKED'" class="badge badge-danger">Đã bị khoá</span>
            </td>
            <td style="text-align: right" *ngIf="data.status!='BLOCKED' && data.status!='NOT_ACTIVATED' && data.usertype!='Admin'">
                <button type="button" class="btn btn-warning btn-sm" (click)="blockUser(data.id)" tooltip="Khoá người dùng">
                  <i class="fa fa-lock"></i>
                </button>
            </td>
            <td style="text-align: right" *ngIf="data.status=='BLOCKED'">
              <button type="button" class="btn btn-success btn-sm" (click)="unblockUser(data.id)" tooltip="Mở khoá người dùng">
                <i class="fa fa-unlock"></i>
              </button>
          </td>
          </tbody>
          <tbody>
        </table>
        <div class="row">
          <div class="col-xs-12 col-12 col-md-6">
            <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" [maxSize]="maxSize" class="pagination-sm"
                        previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"(pageChanged)="pageChanged($event)"
                        [boundaryLinks]="true" [rotate]="false" [itemsPerPage]="itemsPerPage"></pagination>
          </div>
          <mat-form-field [style.width.px]="130"> 
            <mat-label>Số hàng hiển thị</mat-label>
            <mat-select (selectionChange)="rowsChanged($event)" [value]="5">
              <mat-option value="5">5</mat-option>
              <mat-option value="10">10</mat-option>
              <mat-option value="25">25</mat-option>
              <mat-option value="100">100</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
</div>
