<button mat-icon-button mat-dialog-close class="close-button" >
    <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>  
<h3 mat-dialog-tile>Thêm tin tức mới</h3>

<mat-dialog-content >

     <mat-form-field appearance="outline" [style.width.%]="100">
        <mat-label>Tên Tin</mat-label>
        <input name="post_name" matInput [(ngModel)]="data.name" required cdkFocusInitial>
    </mat-form-field>

     <mat-form-field appearance="outline" [style.width.%]="100">
        <mat-label>Nội dung</mat-label>
        <textarea matInput name="content" [(ngModel)]="data.content" required></textarea>
    </mat-form-field>   

    <mat-form-field appearance="outline" [style.width.%]="50">
        <mat-label>Dự án liên quan</mat-label>
        <input disabled matInput name="content" [(ngModel)]="data.projectName">
    </mat-form-field> 
 
    <mat-checkbox name="publicPost" [(ngModel)]="data.isPublic">Công bố Tin</mat-checkbox>

      

    <mat-grid-list cols="3">
        <mat-grid-tile *ngFor="let number of [0,1,2,3,4,5];let i=index">
            <div *ngIf="!imageUrls[number] && !isUpLoadingImage" class="image-container" (click)="imageInput.click()" imageDragDrop (files)="uploadImages($event,number)">
                <input hidden type="file" #imageInput (change)="uploadImages($event.target.files,number)" multiple="false" accept=".jpg,.jpeg,.png">
            </div>
            <div *ngIf="!imageUrls[number] && isUpLoadingImage && number==upLoadingIndex" class="image-container-loading"></div>
            <div *ngIf="!imageUrls[number] && isUpLoadingImage && number!=upLoadingIndex" class="image-container"></div>
            <div *ngIf="imageUrls[number]" class="image-container">
                <img *ngIf="imageUrls[number]" [src]="imageUrls[number]" alt=""/>
                <button *ngIf="imageUrls[number]" type="button" class="button btn btn-danger btn-sm" (click)="deleteAttachment(i)">
                    <i class="fa fa-remove"></i>
                </button>
            </div>
        </mat-grid-tile>
    </mat-grid-list>

    <div *ngIf="!videoUrl && !isUploadingVideo" class="video-container" (click)="fileInput.click()" videoDragDrop (files)="uploadVideo($event)">
        <input hidden type="file" #fileInput (change)="uploadVideo($event.target.files)" multiple="false" accept=".mp4">
    </div>
    <div *ngIf="isUploadingVideo" class="video-container-loading"></div>
    <div *ngIf="videoUrl" class="video-container-loading">
        <video *ngIf="videoUrl" [src]="videoUrl" controls>
            <source src="videoUrl" type="video/mp4">
        </video>
        <button *ngIf="videoUrl" type="button" class="delete-video-button btn btn-danger btn-sm" (click)="deleteVideo()">
            <i class="fa fa-remove"></i>
        </button>
    </div>

</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button class="btn btn-success" (click)="save()">Lưu</button>
</mat-dialog-actions>