<div class="col-lg">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col">
          <h3 class="card-title">
             Dự án đang hoạt động
          </h3>
        </div>
      </div>
    </div>

    <div class="card-body">
      <table class="table table-light">
        <thead>
          <tr>
            <th>#</th>
            <th>Tên Dự án</th>
            <th style="text-align: right">Mục tiêu</th>
            <th style="text-align: right">Đã quyên góp </th>
            <th style="text-align: right">Đạt được (%)</th>
            <th style="text-align: right">Thời hạn còn (Ngày)</th>
            <th style="text-align: right">Số tin</th>
            <th style="text-align: right">Tác vụ</th>
          </tr>
        </thead>
        <tbody *ngFor="let data of Projects;let i=index;">
          <td>{{i+1}}</td>
          <td style="width: 30%;">{{data.projectName}}</td>
          <td style="text-align: right">{{numberWithCommas(data.targetMoney)}}</td>
          <td style="text-align: right">{{numberWithCommas(data.curMoney)}}</td>
          <td style="text-align: right">{{data.achieved}}</td>
          <td style="text-align: right">{{data.remainingTerm}}</td>   
          <td style="text-align: right">{{data.numOfPost}}</td> 
          <td style="text-align: right">
            <button type="button" class="btn btn-stack-overflow btn-sm" (click)="clearData(data);openDialog()" tooltip="Đăng tin tức">
              <i class="fa fa-plus-square"></i>
            </button>
            <button type="button" class="btn btn-sm" style="background-color: #FF545B; color: #fff;" (click)="openDonateInfoDialog(data)" tooltip="Hiện thông tin quyên góp">
              <i class="fa fa-heart"></i>
            </button>
          </td>
        </tbody>
        <tbody>
      </table>
      <div class="row">
        <div class="col">
          <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" [maxSize]="maxSize" class="pagination-sm"
                      previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"(pageChanged)="pageChanged($event)"
                      [boundaryLinks]="true" [rotate]="false" [itemsPerPage]="itemsPerPage"></pagination>
        </div>
        <mat-form-field [style.width.px]="80" align="right">
          <mat-label>Số hàng hiển thị</mat-label>
          <mat-select (selectionChange)="rowsChanged($event)" [(ngModel)]="selected1">
            <mat-option *ngFor="let option of options"  [value]="option.id">{{ option.value }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>



