<div class="col-lg">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col">
          <h3 class="card-title">
            <small class="text-muted"> danh sách </small> Dự án chưa được phê duyệt
          </h3>
        </div>
      </div>
    </div>

    <div class="card-body">
      <table class="table table-light">
        <thead>
          <tr>
            <th>#</th>
            <th>Tên Dự án</th>
            <th style="text-align: right">Mục tiêu</th>
            <th>Gói từ thiện</th>
            <th>Người thụ hưởng</th>
            <th>Đăng bởi</th>
            <th style="text-align: right">Tác vụ</th>
          </tr>
        </thead>
        <tbody *ngFor="let data of Projects;let i=index;">
          <td>{{i+1}}</td>
          <td style="width: 30%;cursor:pointer" (click)="openEditDialog(data)">{{data.projectName}}</td>
          <td style="text-align: right">{{numberWithCommas(data.targetMoney)}}</td>
          <td>{{data.projectType.projectTypeName}}</td>
          <td>{{data.supportedPeople.fullName}}</td>
          <td>{{data.collaborator.fullName}}</td>
          <td style="text-align: right">
              <button type="button" class="btn btn-secondary btn-sm" (click)="openEditDialog(data)" tooltip="Xét duyệt dự án">
                <i class="fa fa-eye"></i>
              </button>
              <button type="button" class="btn btn-success btn-sm" (click)="approveProject(data.prj_ID)" tooltip="Duyệt dự án">
                <i class="fa fa-check"></i>
              </button>
              <button type="button" class="btn btn-danger btn-sm" (click)="deleteProject(data.prj_ID)" tooltip="Xoá dự án">
                <i class="fa fa-trash"></i>
              </button>
          </td>
        </tbody>
        <tbody>
      </table>
      <div class="row">
        <div class="col-xs-12 col-12 col-md-6">
          <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" [maxSize]="maxSize" class="pagination-sm"
                      previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"(pageChanged)="pageChanged($event)"
                      [boundaryLinks]="true" [rotate]="false" [itemsPerPage]="itemsPerPage"></pagination>
        </div>
        <mat-form-field [style.width.px]="130"> 
          <mat-label>Số hàng hiển thị</mat-label>
          <mat-select (selectionChange)="rowsChanged($event)" [value]="5">
            <mat-option value="5">5</mat-option>
            <mat-option value="10">10</mat-option>
            <mat-option value="25">25</mat-option>
            <mat-option value="100">100</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>

