<div class="col-lg">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col">
            <h3 class="card-title">
               Cộng tác viên
            </h3>
          </div>
        </div>
      </div>

      <div class="card-body">
        <table class="table table-light">
          <thead>
            <tr>
              <th>#</th>
              <th>Tên đầy đủ</th>
              <th>Địa chỉ</th>
              <th>Email</th>
              <th>Số điện thoại</th>
              <th>Chứng chỉ</th>
              <th>Tình tạng</th>
              <th style="text-align: right">Tác vụ</th>
            </tr>
          </thead>
          <tbody *ngFor="let data of Collaborators;let i=index;">
            <td>{{i+1}}</td>
            <td>{{data.fullName}}</td>
            <td>{{data.address}}</td>
            <td>{{data.email}}</td>
            <td>{{data.phoneNumber}}</td>
            <td>              
              <img [src]="data.certificate" style="border-radius: 5px" width="80px" height="50px">           
            </td>
            <td *ngIf="data.isAccept==true">Đã phê duyệt</td>
            <td *ngIf="data.isAccept!=true">Chưa phê duyệt</td>
            <td style="text-align: right" *ngIf="data.isAccept!=true">
                <button type="button" class="btn btn-success btn-sm" (click)="acceptCollaborator(data)" tooltip="Duyệt cộng tác viên">
                  <i class="fa fa-check"></i>
                </button>
            </td>
            <td style="text-align: right" *ngIf="data.isAccept==true">
              <button type="button" class="btn btn-warning btn-sm" (click)="blockCollaborator(data)" tooltip="Khoá cộng tác viên">
                <i class="fa fa-remove"></i>
              </button>
          </td>
          </tbody>
          <tbody>
        </table>
        <div class="row">
          <div class="col">
            <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" [maxSize]="maxSize" class="pagination-sm"
                        previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"(pageChanged)="pageChanged($event)"
                        [boundaryLinks]="true" [rotate]="false" [itemsPerPage]="itemsPerPage"></pagination>
          </div>
          <mat-form-field [style.width.px]="80" align="right">
            <mat-label>Số hàng hiển thị</mat-label>
            <mat-select (selectionChange)="rowsChanged($event)" [(ngModel)]="selected1">
              <mat-option *ngFor="let option of options"  [value]="option.id">{{ option.value }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
</div>
